<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="../static/js/script.js" defer></script>
    <title>채팅방</title>
</head>
<body>
    <div id="chat-container">
        <ul id="messages"></ul>
        <input id="message-input" type="text" placeholder="메시지를 입력하세요..."></input>
        <button id="send-button">전송</button>
    </div>
</body>
</html>